@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@600&display=swap');

*{
    box-sizing: border-box;
    
}

body{
    /* font-family: Arial, Helvetica, sans-serif; */
    background: url(background.jpg);
    background-size: cover;
    background-position: center center;
    height: 100vh;
    margin: 0px;
    display: flex;
    flex-direction: column;
    font-family: JetBrains Mono;
    color: aliceblue;
    overflow: hidden;
}
.fa-snowflake {
    animation: fall linear forwards;
    color: #fff;
    position: absolute;
    top: 0px;
    
    /* position: absolute;
    top: -20px; */
}

@keyframes fall {
    to{
        transform: translateY(100vh);
    }
}

.countdown-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h1{
    font-size: 4rem;
    text-align: center;
}

.digits{
    font-size: 6rem;
    line-height: 1;
    margin: 0 2rem;
}

.hours-container{
    text-align: center;
    
}

.minutes-container{
    text-align: center;
}

.seconds-container{
    text-align: center;
}

.days-container{
    text-align: center;
}