@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Texturina:wght@600&display=swap');


*{
    box-sizing: border-box;
    
}

/* create a black overlay, so the fonts looks clear */
#overlay{
    background-color: black;
    /* background-size: cover;
    background-position: center center; */
    position: absolute;
    opacity: 0.4;
    height: 100%;
    width: 100%;
    z-index: -1;
}
body{
    background-image: url(https://source.unsplash.com/1920x1080/?christmas,snow);
    /* background-image: url('background.jpg'); */
    background-size: cover;
    background-position: center center;
    height: 100vh;
    margin: 0px;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Texturina', serif;
    overflow: hidden;

}
.fa-snowflake {
    animation: fall linear forwards;
    color: snow;
    position: absolute;
    top: 0px;
    
    /* position: absolute;
    top: -20px; */
}

@keyframes fall {
    to{
        transform: translateY(100vh);
    }
}

.countdown-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    
    /* mix-blend-mode: exclusion; */
}

h1{
    font-size: 4rem;
    text-align: center;
    color: white;
    /* mix-blend-mode: difference; */
}

.digits{
    font-size: 6rem;
    line-height: 1;
    margin: 1rem 2rem;
}

.single-units{
    text-align: center;
}



#add-form{
    /* position: absolute;
    top: 80%; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
}

.input-addForm{
    text-align: center;
    padding: 8px 15px;
    margin: 15px;
    font-family: consolas;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: black;
}

.input-addForm:focus{
    outline: none;
    transition: 1s;
    border: 2px gray solid;
    background-color: rgb(223, 188, 188);
}

.button{
    background-color: rgb(135, 187, 202);
    outline: none;
    border: rgb(43, 92, 182) 2px solid;
}

.button:hover{
    outline: none;
    transition: 0.5s;
    background-color: rgb(37, 141, 211);
    color: lightblue;
}

.button:onclick{
    outline: none;
    padding: 4px 6px 6px 6px;
}
